[color]
	ui=true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[include]
	path = ~/.gitconfig_local
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[alias]
	b = branch
	c = clone
	co = checkout
	cm = git add -A && git commit -am
	d = diff
	lg = log --oneline --decorate --all --graph
	s = status -s
[credential]
	helper = osxkeychain
[http]
	proxy = http://127.0.0.1:1087
